md-card(md-theme='worker')

  md-toolbar: div(class='md-toolbar-tools')
    span(
      ng-if='vm.initialize'
      class='fx-dur-450 fx-fade-normal'
    ) {{'MODEL.WORKER_PLURAL' | translate | capitalize}}
    span(flex)
    md-button(ng-if='vm.module.crud.c.status'
      ng-click='vm.formItem($event)'
      class='md-icon-button'
      aria-label='new client'
    )
      md-icon(md-font-icon='mdi mdi-plus')

  module-list-wrapper(
    module='vm.module'
    items='vm.items'
    initialize='{{vm.initialize}}'
  )
    md-list
      md-list-item(
        ng-repeat='p in vm.items'
        class='md-2-list fx-fade-up fx-dur-300 fx-ease-none fx-stagger-120'
      )
        img(
          ng-src="api/pictures/persons/download/{{p.person.photo}}"
          class="md-avatar"
          alt='client photo'
        )
        div(class='md-list-item-text')
          h3 {{p.person.firstName}} {{p.person.lastName}}
          h4 {{p.person.lastName}}


