md-toolbar
	include ./appbar.jade

md-sidenav(
	md-component-id='left'
	class='md-sidenav-left md-whiteframe-z2'
)
	include ./sidenav-left.jade

md-content(
	ui-view='content'
	class='fx-dur-750 fx-fade-right'
  ng-class='layout.ui.content.classContainer'
)

md-sidenav(
	md-component-id='right'
	class = 'md-sidenav-right md-whiteframe-z2'
	ng-class='layout.ui.sidenavRightContentClass'
  md-theme='{{layout.ui.sidenavRighTheme}}'
  md-theme-watch
  ui-view='sidenavRight'
)
//-	include ./sidenav-right.jade
