md-toolbar(
  md-theme='{{layout.ui.sidenavRighTheme}}'
  md-theme-watch
)

  div(class='md-toolbar-tools')

    md-button(
      ng-click='layout.ui.sidenavRightToolbarIconLeftAction($event)'
      aria-label='close sidenav right'
      class='md-icon-button')
      md-icon(mdx-icon='{{layout.ui.sidenavRightToolbarIconLeft}}'
        md-font-icon='mdi')
    
    span {{layout.ui.sidenavRightToolbarTitle | uppercase | translate: layout.ui.sidenavRightToolbarTitleVars | uppercase}}

    span(flex='')

    md-button(
      ng-repeat = 'icon in layout.ui.sidenav.right.toolbar.icons.right'
      ng-click = 'icon.click($event, icon, layout.ui.sidenav.right.toolbar.icons.right)'
      aria-label = 'settings'
      class = 'md-icon-button')
      md-icon(md-font-icon='mdi mdi-{{icon.icon}}')

//mdx-sidenav-content = ''
//content = 'layout.ui.sidenavRightContent'
md-content(
  ui-view='sidenavRight'
  md-theme='{{layout.ui.sidenavRighTheme}}'
  md-theme-watch
)
