//ye-cover(picture='static/images/cover.jpg')
ye-cover(picture='static/images/dipropan.png')

md-list

  md-list-item(ng-click='layout.ui.go("home")')
    md-icon(md-font-icon='mdi mdi-home')
    p {{'SECTIONS.HOME.NAME' | uppercase | translate | capitalize}}
 
  md-divider

  md-list-item(ng-click='layout.ui.go(layout.ui.loggued ? "dashboard" : "login")')
    md-icon(
      mdx-icon='{{layout.ui.loggued ? "view-dashboard" : "key"}}'
      md-font-icon='mdi'
    )
    p {{layout.ui.loggued ? 'SECTIONS.DASHBOARD.NAME' : "SECTIONS.LOGIN.NAME" |
      | translate | capitalize}}

  //
    md-list-item(
      ng-repeat='item in layout.ui.menu'
      ng-if='layout.ui.loggued && item.crud.r.status && !item.noDisplay'
      ng-click='layout.go(item.name , true)'
    )
      md-icon(md-font-icon = 'mdi mdi-{{item.icon}}')
      p {{item.name | uppercase | translate | capitalize}}
  section(ng-if="layout.ui.loggued")
    md-list-item(
      ng-click="$mdOpenMenu($event)"
    )
      md-icon(md-font-icon = 'mdi mdi-plus')
      p mantenimientos
      md-menu(
        md-position-mode="target-right target"
        class='md-menu-in-list-item'
      )
        md-button(
          aria-label="menu for Manetinimientos"
          class="md-icon-button"
          ng-click="$mdOpenMenu($event)"
        )
          md-icon(md-menu-origin md-font-icon="mdi mdi-arrow-right")
          
        md-menu-content(width="5")
          md-menu-item
            md-button(
              ng-click=""
            )
              div(layout="row" layout-align="space-between center")
                md-icon(md-menu-align-target md-font-icon="mdi mdi-plus")
                p(flex) Clientes
          md-menu-item
            md-button(
              ng-click=""
            )
              div(layout="row" layout-align="space-between center")
                md-icon(md-menu-align-target md-font-icon="mdi mdi-plus")
                p(flex) Camiones
          md-menu-item
            md-button(
              ng-click=""
            )
              div(layout="row" layout-align="space-between center")
                md-icon(md-menu-align-target md-font-icon="mdi mdi-plus")
                p(flex) Trabajadores
      
    md-list-item(
      ng-click='layout.go("matenimientos" , true)'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')
      p Rutas
      
    md-list-item(
      ng-click='layout.go("matenimientos" , true)'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')
      p Monitoreo
      
    md-list-item(
      ng-click='layout.go("matenimientos" , true)'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')
      p Reportes

  md-divider

  md-list-item(ng-click='layout.ui.go("help")')
    md-icon(md-font-icon='mdi mdi-help-circle')
    p {{'SECTIONS.HELP.NAME' | uppercase | translate | capitalize}}

  md-list-item(ng-click='layout.ui.settings()' ng-if='layout.ui.loggued')
    md-icon(md-font-icon='mdi mdi-settings')
    p {{'SECTIONS.SETTINGS.NAME' | uppercase | translate | capitalize}}

  md-list-item(ng-click='layout.ui.logout()' ng-if='layout.ui.loggued')
    md-icon(md-font-icon='mdi mdi-logout')
    p {{'ACTIONS.LOGOUT' | uppercase | translate | capitalize}}
