ye-cover(picture='static/images/cover.jpg')

md-list

  md-list-item(ng-click='layout.ui.go("home")')
    md-icon(md-font-icon='mdi mdi-home')
    p {{'SECTIONS.HOME.NAME' | uppercase | translate | capitalize}}
 
  md-divider

  md-list-item(ng-click='layout.ui.go(layout.ui.loggued ? "dashboard" : "login")')
    md-icon(
      mdx-icon='{{layout.ui.loggued ? "view-dashboard" : "key"}}'
      md-font-icon='mdi'
    )
    p {{layout.ui.loggued ? 'SECTIONS.DASHBOARD.NAME' : "SECTIONS.LOGIN.NAME" |
      | translate | capitalize}}

  md-list-item(
    ng-repeat='item in layout.menu'
    ng-if='layout.ui.loggued && !item.noDisplay'
    ng-click='layout.go(item.pluralName , true)'
  )
    md-icon(md-font-icon = 'mdi mdi-{{item.icon}}')
    p {{item.name | uppercase | translate | capitalize}}

  md-divider

  md-list-item(ng-click='layout.ui.go("help")')
    md-icon(md-font-icon='mdi mdi-help-circle')
    p {{'SECTIONS.HELP.NAME' | uppercase | translate | capitalize}}

  md-list-item(ng-click='layout.ui.settings()' ng-if='layout.ui.loggued')
    md-icon(md-font-icon='mdi mdi-settings')
    p {{'SECTIONS.SETTINGS.NAME' | uppercase | translate | capitalize}}

  md-list-item(ng-click='layout.ui.logout()' ng-if='layout.ui.loggued')
    md-icon(md-font-icon='mdi mdi-logout')
    p {{'ACTIONS.LOGOUT' | uppercase | translate | capitalize}}
