div(
  layout 
  layout-align='center center'
  class='fx-dur-450 fx-fade-up spinner--content'
  ng-hide='vm.initialize'
)
  md-progress-circular(
    class="md-primary"
    md-mode="indeterminate"
    md-diameter="40"
  )

md-subheader(
  ng-if='vm.initialize && !!!vm.module'
  class='md-warn md-no-sticky fx-fade-down fx-dur-300 fx-ease-sine'
) {{'MODULE.ERR_101' | translate | capitalize}}

md-subheader(
  ng-if='vm.initialize && !!vm.module && !vm.module.crud.r.status'
  class='md-warn md-no-sticky fx-fade-down fx-dur-300 fx-ease-sine'
) {{'MODULE.NO_READ_PERMIT' | translate:{modulePlural: vm.pluralName} |
  | capitalize}}

md-subheader(
  ng-if='vm.initialize && vm.module.crud.r.status && !!!vm.items'
  class='md-warn md-no-sticky fx-fade-down fx-dur-300 fx-ease-sine'
) {{'MODULE.NO_' + vm.module.name + '_ITEMS' | uppercase | translate | capitalize}}

md-subheader(
  ng-if='vm.initialize && vm.module.crud.r.status && !!vm.items &&\
    vm.items.length === 0'
  class='md-warn md-no-sticky fx-fade-down fx-dur-300 fx-ease-sine'
) {{'MODULE.NO_' + vm.module.name +'_ITEMS' | uppercase | translate}}

div(
  ng-if='vm.initialize && vm.module.crud.r.status && \
    !!vm.items && vm.items.length > 0'
  ng-transclude
  class='fx-fade-down fx-dur-300 fx-ease-sine'
)
