md-subheader(
  ng-if='mForm.lackData !== ""'
  class='md-no-sticky md-warn'
) {{'SENTENCES.ROUTE_NOT_AVAILABLE_LACK_DATA' | translate:{moduleName: mForm.lackData} | capitalize}}

form(name="form" novalidate='' ng-if='mForm.lackData === ""')

  gmap-route(
    geopoint-initial='mForm.form.geopointInitial'
    geopoint-final='mForm.form.geopointFinal'
    waypoints='mForm.form.waypoints'
  )

  section(layout-gt-md layout-wrap)

    md-select(
      ng-model="mForm.form.truckId"
      placeholder='{{"SENTENCES.SELECT_TRUCK" | translate | capitalize}}'
      md-on-open="mForm.loadTrucks()"
      aria-label='select truck'
      required
      flex-gt-md='50'
    )

      md-optgroup(label='{{"SENTENCES.AVAILABLES" | translate | capitalize}}'
        ng-if='mForm.trucks.length > 0'
      )
        md-option(ng-repeat="truck in mForm.trucks"
          ng-value="truck.id") {{truck.licensePlate}}

      md-optgroup(label='{{"SENTENCES.NO_AVAILABLES" | translate | capitalize}}'
        ng-if='mForm.trucksNoAvailables.length > 0'
      )
        md-option(ng-repeat="truck in mForm.trucksNoAvailables"
          ng-value="truck.id" disabled) {{truck.licensePlate}}

    //
      md-select(
        ng-model="mForm.form.clientId"
        placeholder='{{"SENTENCES.SELECT_CLIENT" | translate | capitalize}}'
        md-on-open="mForm.loadClients()" aria-label='select client'
        required
        flex-gt-md='33'
      )
        md-option(ng-repeat="client in mForm.clients" ng-value="client.id")
          | {{!!client.person ? client.person.firstName : client.company.socialName}}

    md-select(
      ng-model="mForm.form.workerId"
      placeholder='{{"SENTENCES.SELECT_DRIVER" | translate | capitalize}}'
      md-on-open="mForm.loadDrivers()" aria-label='select driver'
      required
      flex-gt-md='50'
    )
      md-option(ng-repeat="driver in mForm.drivers" ng-value="driver.id")
        | {{driver.person.firstName}}

  section(layout-gt-md)
    ye-input(label='fields.geopoint_Initial'
      field='geopointInitial'
      title='fields.geopoint_Initial'
      geoposition
      theme='route'
      required
      flex-gt-md='33'
    )
    ye-input(label='fields.geopoint_Final' field='geopointFinal'
      title='fields.geopoint_Final' geoposition theme='route' required
      flex-gt-md='33'
    )
    ye-input(label='fields.weight' field='weight' type='number' flex-gt-md='33')

  ye-input(label='fields.description' field='description' textarea maxlength flex-gt-md='100')

  div(layout-gt-md layout-wrap)
    //
      md-select(
        ng-model="mForm.form.waypoints[$index]"
        placeholder='{{"SENTENCES.SELECT_CLIENT" | translate | capitalize}}'
        md-on-open="mForm.loadClients()" aria-label='select client'
        required
        flex-gt-md='33'
        ng-repeat='waypoint in mForm.formAux.waypoints track by $index'
      )
        md-option(ng-repeat="client in mForm.clients" ng-value="client.id")
          | {{!!client.person ? client.person.firstName : client.company.socialName}}
        md-option(value="0")
          | {{ 'ADD MANuAL' }}
    ye-input(
      ng-repeat='waypoint in mForm.formAux.waypoints track by $index'
      label='fields.waypoint'
      label-complement='$index + 1'
      title='{{::"waypoint " + ($index + 1)}}'
      field='waypoints[$index]'
      geoposition
      waypoint
      required
      flex-gt-md='50')

  section(layout layout-align='start center')
    md-button(class='md-icon-button' ng-click='mForm.addWaypoint()' aria-label='add waypoint')
      md-icon(md-font-icon='mdi mdi-plus')
    md-subheader(class='mr-0') {{"FIELDS.WAYPOINTS" | translate | capitalize}}

  form-actions
