md-card(md-theme='route')

  md-toolbar: div(class='md-toolbar-tools')
    span(
      ng-if='vm.initialize'
      class='fx-dur-450 fx-fade-normal'
    ) {{'MODEL.ROUTE_PLURAL' | translate | capitalize}}
    span(flex)
    md-button(
      ng-if='vm.module.crud.c.status'
      ng-click='vm.formItem($event)'
      class='md-icon-button'
      aria-label='new route'
    ):  md-icon(md-font-icon='mdi mdi-plus')

  module-list-wrapper(
    module='vm.module'
    items='vm.items'
    initialize='{{vm.initialize}}'
  )
    md-list
      md-list-item(
        ng-repeat='item in vm.items'
        ng-click='module.showItem($event, item)'
        class='md-2-line'
      )
        img(
          ng-src="api/pictures/trucks/download/{{item.truck.photo}}"
          class="md-avatar"
          alt='{{item.model}}'
        )

        div(class="md-list-item-text")
          h3 {{'MODEL.TRUCK' | translate | capitalize}}: {{item.truck.licensePlate}} - {{item.truck.aka}}
          h4 {{item.description}}
          p From POINT to POINT
