form(name='formNgF' ng-if='ngF.initialize')

  div(
    ng-model="ngF.picFile"
    ngf-drop='ngF.upload(ngF.picFile)'
    name="file"
    ngf-pattern="'image/*'"
    accept="image/*"
    ngf-max-size="4MB"
    ngf-min-height="404"
    ngf-size="{width: 720, ratio: '16x9'}"
    class="drop-box h-cover"
    ng-style='ngF.preBg'
  )

    aside(
      layout
      layout-align='center center'
      class='fx-dur-300 fx-fade-normal'
      ng-hide='ngF.preBg.backgroundImage !== "none" || !!ngF.picFile'
    ): md-icon(md-font-icon='')

    div(
      ng-show='!!ngF.picFile'
      ngf-thumbnail="ngF.picFile"
      ngf-as-background='true'
      ngf-size="{width: 720, ratio: '16x9'}"
      ng-style='ngF.hCover'
      class='h-cover fx-dur-300 fx-fade-normal'
    )

  md-button(
    ng-model="ngF.picFile"
    ngf-select='ngF.upload(ngF.picFile)'
    name="file"
    ngf-pattern="'image/*'"
    accept="image/*"
    ngf-max-size="4MB"
    ngf-min-width="720"
    ngf-resize="{width: 720, height: 404}"
    aria-label='upload image'
    class='md-fab md-accent'
  ): md-icon(md-font-icon='')

  md-progress-linear(
    md-mode="determinate"
    value="{{ngF.picFile.progress}}"
    ng-class='{"md-warn": ngF.errPic}'
    class='md-hue-1'
  )
