md-card(md-theme='truck')

  md-toolbar: div(class='md-toolbar-tools')
    span(ng-if='vm.initialize' class='fx-dur-450 fx-fade-normal')
      | {{'MODEL.TRUCK_PLURAL' | translate | capitalize}}
    span(flex)
    md-button(
      ng-if='vm.module.crud.c.status'
      ng-click='vm.addItem($event)'
      class='md-icon-button' aria-label='new truck'
    )
      md-icon(md-font-icon='mdi mdi-plus')

  module-list-wrapper(
    module='vm.module'
    items='vm.items'
    initialize='{{vm.initialize}}'
  )

    md-list
      md-list-item(
        ng-repeat='item in vm.items'
        ng-click='vm.showItem($event, item)'
        class='md-3-line'
      )
        img(
          ng-src="api/pictures/trucks/download/{{item.photo}}"
          class="md-avatar"
          alt='{{item.model}}'
        )

        div(class="md-list-item-text")
          h3 {{item.licensePlate}}
          h4 {{item.model}}
          p(geo-text='item.ubication')

        md-menu(
          md-position-mode="target-right target"
          class='md-menu-in-list-item'
        )
          md-button(
            aria-label="Open demo menu"
            class="md-icon-button"
            ng-click="$mdOpenMenu($event)"
          )
            md-icon(md-menu-origin md-font-icon="mdi mdi-dots-vertical")
          md-menu-content(width="3")
            md-menu-item
              md-button(ng-click="vm.ubicationItem($event, item)")
                div(layout="row"  layout-align="space-between center")
                  p(flex) {{'ACTIONS.SHOW_UBICATION' | translate | capitalize}}
                  md-icon(md-menu-align-target md-font-icon="mdi mdi-map-marker")
            md-menu-item(ng-if='vm.module.crud.u.status')
              md-button(ng-click="vm.editItem($event, item)")
                div(layout="row"  layout-align="space-between center")
                  p(flex) {{'ACTIONS.EDIT' | translate | capitalize}}
                  md-icon(md-menu-align-target md-font-icon="mdi mdi-pencil")
            md-menu-item(ng-if='vm.module.crud.d.status')
              md-button(ng-click="vm.removeItem($event, item)")
                div(layout="row"  layout-align="space-between center")
                  p(flex) {{'ACTIONS.DELETE' | translate | capitalize}}
                  md-icon(md-menu-align-target md-font-icon="mdi mdi-delete")
